* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: morabba !important;
  scrollbar-width: thin;
  scrollbar-color: var(--mrl-primery-color) var(--mrl-secondery-color);
}

html {
  scroll-behavior: smooth;
}

i {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  overflow-x: hidden !important;
}

@font-face {
  font-family: Morabba;
  font-style: normal;
  font-weight: 200;
  src: url("../font/Morabba-UltraLight.woff") format("woff");
}

@font-face {
  font-family: Morabba;
  font-style: normal;
  font-weight: 300;
  src: url("../font/Morabba-Light.woff") format("woff");
}

@font-face {
  font-family: Morabba;
  font-style: normal;
  font-weight: 500;
  src: url("../font/Morabba-Medium.woff") format("woff");
}

@font-face {
  font-family: Morabba;
  font-style: normal;
  font-weight: 600;
  src: url("../font/Morabba-SemiBold.woff") format("woff");
}

@font-face {
  font-family: Morabba;
  font-style: normal;
  font-weight: 800;
  src: url("../font/Morabba-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: Morabba;
  font-style: normal;
  font-weight: 850;
  src: url("../font/Morabba-Black.woff") format("woff");
}

@font-face {
  font-family: Morabba;
  font-style: normal;
  font-weight: 900;
  src: url("../font/Morabba-Heavy.woff") format("woff");
}

@font-face {
  font-family: Morabba;
  font-style: normal;
  font-weight: bold;
  src: url("../font/Morabba-Bold.woff") format("woff");
}

@font-face {
  font-family: Morabba;
  font-style: normal;
  font-weight: normal;
  src: url("../font/Morabba-Regular.woff") format("woff");
}

a {
  text-decoration: none;
}

:root {
  --mrl-primery-color: #8750f7;
  --mrl-secondery-color: #2a1454;
}

.logo {
  width: 80px;
}
